{% extends ':catalogue:layout.html.twig' %}

{% block body_layout %}


    {% for produit in produits %}

        <h2> <a href="{{ path("detail_catalogue",{id:produit.id}) }}">{{ produit.titre|e }}</a></h2>

    {% endfor %}


{% endblock %}



