/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6 juin 2017, 14:49:49
    Author     : Human Booster
*/

body {
    padding-top: 50px;

}

.footer {
    background: lightgreen;
}

img {
    width: 15em;
}

#detail-article {

    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    padding: 1em;
}

#loading {
    width: 20px;
}

